body{
    margin:auto;
    max-width: 600px;
    text-align: center;
    background-image:url("images/birthday\ \(2\).jpg");

}
h1{
    margin-bottom: 5rem;
    font-style: italic;
    font-weight: 600;
    
}

    label{
        padding:2rem;
        margin:1rem;
        font-size: x-large;
    }

input{
    margin:0.5rem;
    width:30%;
    height:1rem;
    font-weight: 550;
}

#btn-check{
    margin: 1.5rem;
    padding: 0.5rem 3rem;
    background-color: orangered;
    cursor:pointer;
    border-radius: 5px;
    font-weight: 700;

}

textarea{
    height: 4rem;
    width:50% ;
    font-size:x-large;
    font-weight: 900;
}



